<head>
	<%= stylesheet_link_tag 'scaffold' %>
</head>

<h1>#nowplaying Tweets</h1>

<table>
  <tr>
    <th>Tweet</th>
    <th>User</th>
	<th>Video</th>
  </tr>

<% for twitterfeed in @twitterfeeds %>
  <tr>
    <td><%=h twitterfeed.text %>
	</td>
    <td><%=h twitterfeed.user %></td>
	<td>
		<% if twitterfeed.video != nil %>
			<% form_remote_tag :url => { :action => 'play_video', :video_id => twitterfeed.video, :title => twitterfeed.title } do %>
				<%= submit_tag "Play this video "%>
			<% end %>
			<% else %>
				<h5>No video found.</h5>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />